# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Poetry/Pipenv lock files
poetry.lock
Pipfile.lock

# Elasticsearch & Kibana data and logs
elasticsearch/
elasticsearch_data/
elasticsearch-data/
elasticsearch-logs/
es-data/
es-logs/
*.es_tmp/
*.es_backup/
.doc/
.fdm/
.si/
nodes/
logs/
data/
kibana/
kibana-data/
kibana_logs/
kibana-data/
kibana-logs/
kibana_logs/
kibana-logs/
kibana_tmp/