# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# dotenv
.env
.env.*

# Poetry/Pipenv lock files
poetry.lock
Pipfile.lock